.form {
  font-size: 1rem;

  box-shadow: var(--box-shadow);

}

.link-redirect {
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.2rem;
}
.input-text {
  width: 18rem;
  margin-left: 2rem;
}

.logo{
  font-size: 2rem;
}

@media only screen and (max-width: 800px) {
 *{
   font-size: 75%;
 }
}