.caraousel-container {
  display: flex;
  justify-content: center;
  margin: auto;
}
.caraousel-img {
  width: 80rem;
  height: 40rem;
  border-radius: 2rem;
}

.product-list {
  display: flex;
  width: 100%;

  position: relative;
}
.product {
  display: flex;
  flex-wrap: wrap;
}
.filters-container {
  width: 40rem;
}
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity {
  background-color: var(--secondary-color);
  color: var(--white);
}

.badge-wrapper {
  position: absolute;
}
.badge {
  position: relative;
  top: 0.5rem;
}
.hidden {
  display: none;
}
