.caraousel-container {
  display: flex;
  justify-content: center;
  margin: auto;
}
.caraousel-img {
  width: 80rem;
  height: 40rem;
  border-radius: 2rem;
}

.product-list {
  display: flex;
  width: 100%;
  position: relative;
}
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.filters-container {
  width: 40rem;
}
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity {
  background-color: var(--secondary-color);
  color: var(--white);
}

.badge-wrapper {
  position: absolute;
}
.badge {
  position: relative;
  top: 0.5rem;
}
.hidden {
  display: none;
}
.btn.btn-wishlist {
  padding: 0rem;
  margin: 0;

  /* border-radius: 15px;
  background: var(--primary-color);
  box-shadow: 5px 5px 9px var(--shadow-dark), -5px -5px 9px var(--shadow-light); */
}

.btn.btn-wishlist.btn-wishlist-clicked {
  background-color: var(--secondary-color);
}

.wishlist-product {
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}
.drawer {
  z-index: 11;
}
.hide-filters {
  display: none !important;
}
.btn-filter {
  display: none;
}
@media only screen and (max-width: 600px) {
  .product-list {
    flex-direction: column;
    margin-left: 6rem;
  }
  .btn-filter {
    display: block;
  }
  .cart-container {
    flex-direction: column;
  }
  .wishlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.badge {
  position: relative;
  /* margin: 3rem; */
  /* z-index:2; */
}
.badge-icon {
  position: absolute;
  background-color: var(--primary-color);
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  /* z-index: 3; */
  bottom: 3.5rem;
  margin-left: -1rem;
}

.wishlist-product {
  display: flex;
  flex-direction: row;
}
.wishlist-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row ;
}

.wishlist-heading {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.address-modal{
  backdrop-filter: blur(4px);
}
.pay-btn{
  display: flex;
  justify-content: center;
}

.single-product-img{
  width:28rem;
  height:35rem;
}
.new-arrival{
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 2rem;
}
.new-arrival-wrapper{
  margin-left: 2rem;
}